[run]
branch = True
omit =
    */test/*
source = cradlepy

[report]
ignore_errors = True
exclude_lines =
    pragma: no cover
    @codeCoverageIgnore
    ignore coverage

[html]
directory = .testcoverage
